// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-signup {
  background-color: red;
}

.index-page-header {
  background-color: blue;
}

.login-form-container {
  background-color: yellow;
}

.login-form-box {
  // background-color: orange;
  padding: 90px;
}

.login-form {
  // background-color: red;
  font-style: italic;
}

.login-input {
  background-color: lightgrey;
  border: blue solid 3px;
}
