




.user-index-container {
  width: 1200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.age-speed-gender-group {
  display: table;
  margin: 0 auto;
}

.age-speed-gender-form {
  display: flex;
  margin-bottom: 35px;
}

.age-search {
  border: 3px solid #709996;
  border-radius: 4px;
}

.browse-wrapper {
  float: left;
  position: relative;
  width: 280px;
  height: 365px;
  margin: 0 45px 40px 45px;
}

.browse-item {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 340px;
  height: 340px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

}

.browse-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

}

.browse-pic {
  position: relative;
  display: block;
  overflow: hidden;
  object-fit: fill;
  transition: height 0.5s ease;
  height: 205px;
  width: 310px;
  margin: auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.browse-pic:hover {
  transition: 0.8s ease;
  cursor: pointer;
}

.browse-text {
  position: relative;
  top: 26px;
  width: 100%;
  text-align: center;
  font-family: 'Bellefair', serif;
}

.username-text {
  color: #709996;
  font-size: 29px;
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  font-family: 'Bellefair', serif;
}

.username-text:hover {
  color: #39CCCC;
  cursor: pointer;
}

.user-browse-info {
  font-size: 18px;
  color: #949aa6;
  margin-bottom: 5px;
}

.match-percentage {
  font-size: 21px;
  color: #474d59;
}


.green {
  color: #13de39;
}

.orange {
  color: #ffc107;
}

.red {
  color: #f44336;
}
