.modal-background {
  padding: 7px;
  background-color: antiquewhite;

 }

 .modal-content {
   display: flex;
   flex-direction: column;
   padding: 15px;
 }

.login-header {
   display: flex;
   justify-content: center;
   color: #709996;
   font-size: 25px;
}

.login-username-box {
   border: 1px solid;
   border-radius: 4px;
   padding: 10px;
   margin-top: 19px;
   font-size: 26px;
   margin-bottom: 30px;
   background-color: cornsilk;
   color: #709996;
 }

 .login-password-box {
   border: 1px solid;
   border-radius: 4px;
   padding: 10px;
   margin-bottom: 33px;
   font-size: 25px;
   background-color: cornsilk;
   color: #709996;
}

.login-button {
   font-size: 21px;
   padding: 12px;
   margin-top: 20px;
   background-color: cornsilk;
 }
