.behind-everything {
  background-image: url(https://static.pexels.com/photos/503175/pexels-photo-503175.jpeg);

}
.profile-main {
  display: flex;
  justify-content: center;

  width: 100%;
  flex-direction: column;
  // height: 100vh;
}


.user-info-group {
  // margin-top: 100px;
  // margin-right: 50px;
  margin-left: 50px;
  // position: fixed;

  width: 100%;
  z-index: 10;
  margin-top: 70px;
  
}


.user-name {
  font-size: 40px;
  color: #709996;
  font-family: 'Bellefair', serif;
}

.user-details {
  font-family: 'Bellefair', serif;
  font-size: 25px;
  color: #709996;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-right: 39px;
}
.user-dete-age {
  margin-bottom: 20px;
}
.user-dete-speed {
  margin: 20px;
}
.user-dete-gen {
  margin: 20px;
}
.user-dete-loc {
  margin-top: 20px;
}

.profile-pic {

    position: relative;
    margin-top: 17px;
    margin-left: 17px;
    height: 160px;
    width: 160px;
    border: 5px solid #FFFFFF;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.25);
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);

}


.tabs-box {
  font-size: 90px;

}

.profile-tabs {
  margin-top: 20px;
  border-bottom: 1px solid;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.profile-tabs.tab-group {
  margin-top: 335
}
