.step-one-form {
  margin-bottom: 15px;
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
 padding-top: 63px;
 font-size: 34px;
}
.I-am-selects {
display: flex;
flex-direction: column;
align-items: center;
}
.I-am {
  color: #709996;
  text-size: 40px;
  margin-bottom: 5px;
  margin-left: 15px;
}
.all-selects {
  display: flex;
  flex-direction: column-reverse;
}
.select-group {
  margin-top: 5px;
  font-size: 23px;
  font-family: 'Bellefair', serif;
  color: #FF6953;
}
.select-eat-speed {
  padding: 4px;
}

.select-gender {
  padding: 20px;
}

.step-one-buttons-eat-speed {
  transition: 1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  width: 198px;
  height: 60px;
  margin-right: 15px;
  margin-left: 5px;
  font-family: 'Bellefair', serif;
  background-color: white;
  color: #709996;
  border: 0px;
  outline: 0px;
  padding: 0 10px;
  box-shadow: 0 1px 3px #142a5d;
}

.step-one-buttons-eat-speed > option {
  color: yellow;
}

.step-one-buttons-eat-speed:hover {
  background-color: transparent;
  color: #FF6953;

}


.step-one-buttons-gender {
  transition: 1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  width: 180px;
  height: 60px;
  margin-right: 5px;
  font-family: 'Bellefair', serif;
  background-color: white;
  color: #709996;
  border: 0px;
  outline: 0px;
  padding: 0 20px;
  box-shadow: 0 1px 3px #142a5d;
}

.step-one-buttons-gender:hover {
  background-color: transparent;
  color: #FF6953;
}


.continue-button {
  transition: 1s;
  border: 1px solid black;
  border-radius:4px;
  display: inline;
  font-size: 20px;
margin: 5px;
  text-align: center;

  padding: 7px;
  background-color: white;
  color: #FF6953;
  box-shadow: 1px 1px 1px;
}

.continue-button:hover {
  background-color: #709996;
  color: white;
}

// input[type=button], input[type=submit], input[type=reset] {
//     background-color: #4CAF50;
//     border: none;
//     color: white;
//     padding: 16px 32px;
//     text-decoration: none;
//     margin: 4px 2px;
//     cursor: pointer;
// }
